body {
    background-color: #f0e6d6;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8c6239;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#points-bar {
    padding: 10px;
}

#back-button, #home-button {
    background-color: #d4b483;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

#content {
    margin-top: 60px; /* Adjusted margin to avoid overlap with top bar */
}

#welcome-message {
    background-color: #d4b483;
    padding: 10px;
    border-radius: 5px;
    margin-right: 2%;
}

button {
    background-color: #d4b483;
    border: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}

#back-button, #home-button {
    background-color: #d4b483;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
}

#main-buttons {
    margin-top: 60px; /* Adjusted margin to avoid overlap with top bar */
}

@media screen and (max-width: 600px) {
    button {
        width: 90%;
    }
}
